{{!-- will be for past posts and replies --}}
<h2>Talk Tech!</h2>

<div class="post-container" id="post">
<label>What's On Your Mind?</label>
</div>

<div class="reply-container" id="reply">
<label>Reply:</label>
</div>