{{!-- will be for past posts and replies --}}
<h2>Past Tech!</h2>
{{#each}}
<div class="post-container" id="post">
<label>What's On Your Mind?</label>
</div>

<div class="reply-container" id="reply">
<label>Reply:</label>
</div>
{{/each}}

<script src="/js/dashboard.js"></script>
{{!-- talks to front end javascript (browser) communicates with the server through the fetch function --}}

{{!-- // dashboard.js works with dashboard.handlebars and dashboard route.js as well as post and reply models --}}