{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}

{{!-- will be for existing posts and replies --}}
{{!-- this page will show first but when any other links are clicked on then they are prompted to sign up or sign in. This means all the links are present when the page first appears. Navigation links from here include "dashboard" "hompage" and "log in/out."" A selactAllQuery for prompt like on the password generator(?) must include Navigation links so look at the museum examples for that. Since they are shown first there is no need to hide them--}}
{{!-- // homeRoutes.js works with homepage.js and homepage handlebars with the post and reply models. --}}